<style type="text/css">
.myGrid {
width: 500px;
height: 230px;
}
</style>
</head>
<div class="loading-overlay align-items-center justify-content-center text-center " ng-if="showloading">
    <img class=" align-items-center" src="assets/images/loading.gif" height="80px" width= >
      <!-- <<mat-spinner></mat-spinner>>         -->
  </div>
  <div class="header" >
    <div class="container">
        <div class="row p-3 align-items-center">
            <div class="logo">
              <a href=""><img src="assets/images/JBSolutions_Logo.png"/></a>
          </div>
          <div class="login-button ml-auto d-flex">
              <div class="mx-2">
                  <a class="btn btn-success" style="cursor:pointer;" ng-click="redirecttoproductlist()">Manage Product</a>
              </div>
              <div class="mx-2">
                  <a class="btn btn-success" style="cursor:pointer;" ng-click="redirecttoaddproduct()">Add Product</a>
              </div>
              <div class="mx-2">
                  <a class="btn btn-warning" style="cursor:pointer;" ng-click="logout()">Logout</a>
              </div>
            </div>
        </div>      
    </div>
  </div>
  <div class="dashboard">
    <hr>
    <div class="container">
        <label style="color:red" ng-bind="errorMessage"></label><br />
            <label style="color:green" ng-bind="successMessage"></label><br />
        <div class="row">
            <div class="col-md-12">
                <h2>Product Listing</h2>
            </div>            
        </div>
        <div ng-controller="admin-product-list-controller"> 
          <!-- <div><a style="cursor: pointer;" ng-click="addproduct(0)">Add New</a></div> -->
        <div ui-grid="gridOptions" ui-grid-paginationclass="myGrid"></div>
        </div>
        <!-- <div>
          <a style="cursor: pointer;" ng-click="removeMultipleRow()">Delete</a>
        </div> -->
    </div>
</div>



</html>