<style type="text/css">
.myGrid {
width: 500px;
height: 230px;
}
</style>
</head>
<div class="header">
  <div class="container">
      <div class="row p-3 align-items-center">
          <div class="logo">
            <a href=""><img src="assets/images/JBSolutions_Logo.png"/></a>
        </div>
        <div class="login-button ml-auto d-flex">
            <div class="mx-2">
                <a class="btn btn-success" style="cursor:pointer;" ng-click="redirecttoproductlist()">Manage Product</a>
            </div>
            <div class="mx-2">
                <a class="btn btn-success" style="cursor:pointer;" ng-click="redirecttoaddproduct()">Add Product</a>
            </div>
            <div class="mx-2">
                <a class="btn btn-warning" style="cursor:pointer;" ng-click="logout()">Logout</a>
            </div>
          </div>
      </div>      
  </div>
</div>

<div class="dashboard">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
</div>



</html>